# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.idea/libraries/
.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

open/mvnw.cmd
open/open.iml
open/.mvn/wrapper/maven-wrapper.properties
open/HELP.md
open/mvnw

eureka/.mvn/wrapper/maven-wrapper.properties

eureka/target/server-0.0.1-SNAPSHOT.jar.original

eureka/target/maven-archiver/pom.properties

open/target/open-0.0.1-SNAPSHOT.jar.original

open/target/surefire-reports/TEST-br.com.open.api.open.OpenApplicationTests.xml

open/target/surefire-reports/br.com.open.api.open.OpenApplicationTests.txt

*.lst

open/target/maven-archiver/pom.properties
